<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

   <!-- Links -->
   <ul class="navbar-nav justify-content-between navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="#"><h2>Inicio</h2></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><h2>Acerca</h2></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><h2>Planes</h2></a>
    </li>
    
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/login']"><h2>Login</h2></a>
      </li>
    
  
  </ul>
</nav>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://imagenes.elpais.com/resizer/bv2y7prFOF1fwFSBTnm2TZOoJys=/1960x1470/cloudfront-eu-central-1.images.arcpublishing.com/prisa/NFFMVOUSDHSNLWEROV3JRZY5NY.jpg" alt="" srcset="">
      <div class="caption">
        <h3>ISLA IGUANA</h3>
        <p>120$</p>
        <p><a href="#" class="btn btn-primary" role="button">Reservar</a> <a href="#" class="btn btn-default" role="button">Más Informacion</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,f_jpg,h_767,q_100,w_640/v1/clients/panama/Promtur_0036_da996338-6a02-4f25-8076-fb60781b3ae1.jpg
      " alt="" srcset="">
      <div class="caption">
        <h3>San Blas</h3>
        <p>160$</p>
        <p><a href="#" class="btn btn-primary" role="button">Reservar</a> <a href="#" class="btn btn-default" role="button">Más Informacion</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://imagenes.elpais.com/resizer/jotGc2DI3StFdhVK8JWDabC_uFM=/1960x1470/cloudfront-eu-central-1.images.arcpublishing.com/prisa/OTDJVW5YWXBWQ4KLNRNTU3I574.jpg" alt="" srcset="">
      <div class="caption">
        <h3>Taboga</h3>
        <p>80$</p>
        <p><a href="#" class="btn btn-primary" role="button">Reservar</a> <a href="#" class="btn btn-default" role="button">Más Informacion</a></p>
      </div>
    </div>
  </div>

</div>


<div class="row">

</div>
   